<div style="width: 80%;">
  <div class="container">
    <div class="row", style="align-items: flex-end; border-bottom: 1px solid #D3D3D3;">
      <div class="col">
        <h2><%= @project.name %></h2>
      </div>
      <div class="col">
        <p><%= @project.description %></p>
      </div>
      <div class="col">
        <p><%= link_to 'Edit', edit_project_path(@project) %></p>
      </div>
      <div class="col">
        <p><%= link_to 'Delete', project_path(@project), method: :delete %>
      </div>
    </div>
  </div>
  <div class="container mt-5 ">
    <% @project.users.each do |user| %>
      <h5><%= user.email %></h5>
    <% end %>
    <%#= link_to "Invite user", new_project_invitation_path(@project), class: "btn btn-outline-primary" %>
    <h3>Invite</h3>
    <input class="group-url w-50" id="cb-link-field" type="text" value="<%= new_project_invitation_url(@project) %>">
  </div>
</div>
